html {
    font-size: 22px;
    background-color: #faeddc;
}

marquee{
    background-color: #333;
}

body {
    background-color: #f8f8f8;
    min-height: 100vh;
    max-width: 800px;
    margin: auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}


th, td, caption {
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
    background-color: #EBE76C;
    width: 150px;
    display: inline;
}

li:hover{
    background-color: #836096;
}

ul{
    background-color: aqua;
    padding: 5px 5px 5px 5px;
}

.navigationBar{
    background-color: #ED7B7B;
    padding: 5px;
    border: 1px solid black;
}